.chart 
{
    -fx-create-symbols: false;
    background-color: rgb(64, 64, 64);
    -fx-background-color: rgb(64, 64, 64);
}

.chart-legend {
    background-color: rgb(64, 64, 64);
    -fx-background-color: rgb(64, 64, 64);
}

.axis {
    -fx-tick-label-fill: white;
}

.label {
    -fx-text-fill: white;
}

.default-color0.chart-series-area-line { stroke: red; -fx-stroke: red; }
.default-color0.chart-series-area-fill { fill: rgb(255,0,0,0.5); -fx-fill: rgb(255,0,0,0.1); }
.default-color1.chart-series-area-line { stroke: blue; -fx-stroke: blue; }
.default-color1.chart-series-area-fill { fill: rgb(0,0,255,0.5); -fx-fill: rgb(0,0,255,0.1); }